.movie-item
	display: inline-block
	position: relative
	width: 100%
	padding-right: 1.5rem
	padding-left: 1.5rem
	flex: 0 0 100%
	max-width: 100%

	@media screen and (min-width: 21.87em)
		flex: 0 0 50%
		max-width: 50%

	@media #{$md-bp}
		flex: 0 0 33.33333%
		max-width: 33.33333%

	@media #{$lg-bp}
		flex: 0 0 25%
		max-width: 25%

	@media #{$xxl-bp}
		flex: 0 0 20%
		max-width: 20%

	&:not(:last-child)
		margin-bottom: 4rem

		@media #{$lg-bp}
			margin-bottom: 8rem

	&__link
		text-decoration: none
		display: block
		width: 100%
		margin-bottom: 1.5rem
		
		&:hover
			.movie-item__img-wrapper
				transform: scale(1.03)
				box-shadow: $medium-shadow

		@media #{$lg-bp}
			margin-bottom: 2rem

	&__img-wrapper
		position: relative
		transition: all 400ms ease, box-shadow .4s ease
		transform: translateZ(0)

	&__img
		display: block
		width: 100%
		height: auto
		border-radius: .5rem

	&__info
		text-align: left

	&__genre-list
		display: flex
		flex-wrap: wrap
		list-style-type: none
		font-size: 1.4rem
		line-height: 1.3
		font-weight: $weight-light
		color: $grey-dark-2-color
		text-transform: capitalize
		margin-bottom: 1rem

		@media #{$xl-bp}
			font-size: 1.6rem

	&__genre-item
		height: 2.4rem
		font-size: 1.1rem
		color: $white-color
		border-radius: 100rem
		background-color: rgba(122, 120, 121, .65)
		padding: 0 1.2rem
		max-width: 100%
		display: inline-flex
		align-items: center
		line-height: 2rem
		outline: none
		overflow: hidden
		position: relative
		text-decoration: none
		transition-duration: 0.25s
		transition-property: box-shadow, opacity
		vertical-align: middle
		white-space: nowrap
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)

		&:not(:last-child)
			margin-right: .5rem

		@media #{$xl-bp}
			height: 2.8rem
			font-size: 1.3rem
			padding: 0rem 2.2rem

	&__genre-text
		align-items: center
		display: inline-flex
		height: 100%
		max-width: 100%

	&__title
		text-transform: capitalize
		font-size: 1.6rem
		font-weight: $weight-normal

		@media #{$xl-bp}
			font-size: 2rem