.main-wrapper
	position: relative
	display: flex
	flex-wrap: nowrap
	overflow: hidden
	height: 100%

.main-content
	position: relative
	display: flex
	flex-grow: 1
	height: 100%
	width: 100%
	overflow: hidden
	flex-direction: column

.main-scroll
	height: 100%
	position: relative
