//Top heading with hamburger icon and search function
.header
	position: absolute
	z-index: 1
	top: 0
	right: 0
	left: 0
	padding: 1.6rem 0
	background-color: $grey-dark-4-color
	box-shadow: $xsmall-shadow

	@media #{$xl-bp}
		padding: 4rem 0
		background-color: $trans-color
		box-shadow: none

	&__mobile-wrapper
		display: flex
		align-items: center

	&__mobile
		margin-right: auto
		height: 3rem
		width: 3rem
		cursor: pointer
		background-color: $trans-color
		border: 0
		position: relative
		display: flex
		align-items: center
		justify-content: center

		@media #{$xl-bp}
			display: none

	&__mobile:hover &__mobile-line--1
		margin-top: -1rem

	&__mobile:hover &__mobile-line--3
		margin-top: .8rem

	&__mobile-line
		width: 2.5rem
		height: 2px
		background-color: $white-color
		position: absolute
		top: 50%
		display: inline-block
		transition: all .2s

		&--1
			margin-top: -.8rem

		&--2
			margin-top: -.1rem

		&--3
			margin-top: .6rem

	&__logo-link
		margin-right: auto
		text-decoration: none
		color: $white-color

	&__logo
		display: none

		@media #{$xl-bp}
			display: inline-flex