.movies-wrapper
	padding-top: 7.5rem
	padding-bottom: 8rem

	@media #{$lg-bp}
		padding-top: 12.5rem
		padding-bottom: 15rem

.movies

	&__headline
		margin-bottom: 4rem

		@media #{$lg-bp}
			margin-bottom: 5rem

	&__title
		font-size: 3rem
		font-weight: $normal
		text-transform: capitalize
		margin-bottom: 1.5rem

		@media #{$lg-bp}
			font-size: 4rem
			margin-bottom: 2rem

	&__underline-wrapper
		display: flex
		height: .15rem
		background-color: $grey-dark-3-color

	&__underline
		background-color: $secondary-color
		width: 10rem
		height: .15rem

		@media #{$lg-bp}
			width: 17.5rem

	&__list
		list-style-type: none
		margin-bottom: 8rem

	&__more
		display: flex
		align-items: center
		justify-content: center

	&__load