.movie-detail

	&__banner
		height: calc(100vh - 7rem)
		display: flex
		align-items: flex-end
		background-image: url("~assets/images/wonderwomanbg.jpg")
		@include bg-image

		&::after
			@include fade-overlay

		@media #{$xl-bp}
			height: calc(100vh - 10rem)

	&__banner-container
		margin-bottom: 8rem
		z-index: 1

		@media #{$xl-bp}
			margin-bottom: 10rem

	&__title-wrapper
		margin-bottom: 1.5rem
		display: flex
		align-items: center

		@media #{$md-bp}
			margin-bottom: 2.5rem
			align-items: flex-end

	&__wrapper
		@media #{$md-bp}
			display: flex
			align-items: center
			margin-bottom: 2.5rem

		@media #{$xl-bp}
			margin-bottom: 5rem

	&__title
		@media #{$sm-bp}
			line-height: 1

	&__release
		display: none

		@media #{$md-bp}
			font-size: 2rem
			display: inline-block
			color: $white-opc-50-color
			margin-left: 1.5rem

		@media #{$lg-bp}
			font-size: 2.5rem	

.movie-genre
	list-style-type: none
	display: flex
	flex-wrap: wrap
	margin-bottom: 2rem

	@media #{$md-bp}
		margin-bottom: 0rem

	&__tag
		font-size: 1.1rem
		font-weight: $medium
		padding: .8rem 2rem
		text-transform: uppercase
		background-color: $white-opc-30-color
		border-radius: 2.5rem

		&:not(:last-child)
			margin-right: 1rem

		@media screen and (max-width: 19.56em)
			&:last-child
				margin-top: 1rem

		@media #{$lg-bp}
			font-size: 1.1rem

.movie-info
	display: flex
	align-items: center
	flex-wrap: wrap
	list-style-type: none
	margin-bottom: 2rem
	font-size: 1.2rem
	font-weight: $medium

	@media #{$md-bp}
		margin-bottom: 0rem

	&__playtime
		font-size: 1.4rem

		span
			margin-left: .5rem

	&__release
		font-size: 1.4rem

	&__seperator
		margin: 0 .8rem

		&--left
			display: none

			@media #{$md-bp}
				display: inline-block

		&--right
			@media #{$md-bp}
				display: none
			
	&__release
		@media #{$md-bp}
			display: none

	&__release-year
		margin-left: 0.5rem

.movie-synopsis
	display: none

	@media #{$lg-bp}
		display: block
		max-width: 60rem
		margin-bottom: 2.5rem

.movie-rating
	display: flex
	align-items: center
	margin-bottom: 3rem

	@media #{$lg-bp}
		margin-bottom: 5rem

	&__text
		font-size: 1.5rem
		color: $white-opc-50-color
		margin-right: 1.5rem

		@media #{$lg-bp}
			font-size: 1.8rem

	&__wrapper
		display: flex
		align-items: center
		line-height: 1

	&__icon
		font-size: 1.8rem !important
		margin-right: .5rem

		@media #{$lg-bp}
			font-size: 2.8rem !important

	&__score
		font-size: 3rem
		font-weight: $medium

		@media #{$lg-bp}
			font-size: 4rem

.movie-social
	display: flex
	align-items: center

	&__link

		&--desktop
			display: none

			@media #{$md-bp}
				display: inline-flex
				margin-left: 1.5rem

	&__favourite
		cursor: pointer
		color: $white-color
		border: 0
		display: flex
		align-items: center
		background-color: $trans-color
		margin-left: 1.5rem

		@media #{$md-bp}
			margin-left: 2rem

		&:focus
			outline: none