.dropdown
	position: relative

	&__button
		display: flex
		align-items: center
		outline: none
		cursor: pointer

		&:focus
			outline: none

	&__profile-container

	&__profile

	&__profile-img

	&__profile-wrapper

	&__profile-tag

	&__profile-name

	&__overlay
		position: fixed
		top: 0
		right: 0
		bottom: 0
		left: 0
		z-index: 10
		display: block
		opacity: 0
		cursor: default
		height: 100%
		width: 100%

		&:focus
			outline: none

	&__content
		position: absolute
		z-index: 20
		left: 0

	&__list

	&__item

	&__link