//Top heading with hamburger icon and search function
.header
	position: relative
	z-index: 2
	top: 0
	right: 0
	left: 0
	background-color: #141D26
	border-bottom: .1rem solid #3B4958
	flex-shrink: 0
	display: flex
	align-items: center
	height: 6rem
	box-shadow: 0 1px 2px rgba(0,0,0,.15),0 0 2px rgba(0,0,0,.1)

	@media #{$lg-bp}
		min-height: 8.5rem

	&__mobile-wrapper
		display: flex
		align-items: center
		justify-content: space-between
		flex-direction: row-reverse

	&__logo
		display: none

		@media #{$lg-bp}
			display: flex
			align-items: center
			justify-content: center
			width: 10rem
			flex-shrink: 0
			height: 100%

	&__shadow-prop
		width: 100%
		height: 100%
		display: flex
		align-items: center