.movies-wrapper

.movies

	&__headline
		margin-bottom: 4rem

		@media #{$md-bp}
			display: flex
			align-items: center

		@media #{$lg-bp}
			margin-bottom: 5rem

	&__title
		margin-bottom: 1.5rem

		@media #{$md-bp}
			margin-bottom: 0rem

	&__underline-wrapper
		height: .15rem
		background-color: #343443
		flex: 1

		@media #{$md-bp}
			margin-left: 3rem

	&__list
		list-style-type: none
		margin-bottom: 5rem

		@media #{$lg-bp}
			margin-bottom: 10rem

	&__more
		display: flex
		align-items: center
		justify-content: center

	&__load